html, body {
   width: 100%;
   height: 100%;
   margin: 0px;
}

.big-container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.nav-bar {
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  background-color: rgba(132,132,132,0.8);
}

.nav-item {
  position: relative;
  float: right;
  top: 20px;
  right: 7%;
  margin-right: 20px;
  color: white;
  letter-spacing: 1px;
}

.nav-item:first-child {
  position: relative;
  float: left;
  top: 20px;
  left: 7%;
  color: white;
}

#landing-container {
  position: relative;
  width: 100%;
  height: 600px;
}

#placeholder {
  position: relative;
  width: 100%;
  height: 600px;
  z-index: -1;
}

#landing-title {
  position: relative;
  bottom: 172px;
  left: 196px;
  font-size: 50px;
  color: white;
}

#landing-sub {
  position: relative;
  bottom: 142px;
  left: 200px;
  font-size: 20px;
  color: white;
}

.container {
  position: relative;
  width: 100%;
  height: 540px;
  z-index: -2;
  top: -6px;
}

#about {
  background-color: white;
}

.category-container {
  position: relative;
  left: 50%;
}

.skill-category {
  position:relative;
  float: left;
  top: 90px;
  right: 573px;
  margin-left: 175px;
  height: 150px;
  width: 150px;
  background-color: #224177;
  color: white;
}

.heading {
  position: relative;
  top: 50px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

#work .heading {
  color: white;
}

.description {
  position: relative;
  top: 60px;
  text-align: center;
  font-size: 20px;
}

#work {
  background-color: #224177;
}

#contact {
  position: relative;
  background-color: white;
}

.info {
  position: relative;
  text-align: center;
  top: 80px;
  margin-bottom: 20px;
  font-size: 20px;
}

form { 
  position: relative;
  margin: 0px auto;
  left: 50%;
  top: 75px;
}

form * {
  position: relative;
  right: 180px;
  width: 400px;
  border: 1px solid black;
  margin-top: 20px;
}

form input[type=text], input[type=email] {
  /*background-color: rgba(34,65,119, 0.5);*/
  height: 30px;
}

form textarea {
  height: 200px;
}

input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
  outline: none !important;
  border: 1px solid #d61532;
}

.contact-links {
  position: relative;
  top: 80px;
}

a {
  position: relative;
  left: 50%;

}

a img {
  position: relative;
  width: 60px;
  right: 60px;
}

.footer {
  width: 100%;
  height: 20px;
  background-color: rgba(132,132,132,0.8);
}

/* Miscellaneous */

.flip-vertical {
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
    -ms-filter: flipv; /*IE*/
    filter: flipv; /*IE*/
}

.flip-horizontal {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph; /*IE*/
    filter: fliph; /*IE*/
